{
  "extends": [
    "react-app",  
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jsx-quotes": [
      1,
      "prefer-double"
    ]
  }
}