$positionStart: 10%;
$positionLeftLg: 19%;
$positionLeftDs: 30%;
$positionLeftSm: 25%;
$positionLeftEm: 20%;
$positionBottom: 30%;
$positionBottomEm: 10%;

@keyframes leftSlide {
  0% {
    left: -50%;
  }

  100% {
    left: $positionStart;
  }
}

.snack {
  max-width: 400px;
  position: fixed;
}

.slideLeft {
  animation: leftSlide 1s linear;
}

.left {
  left: $positionLeftLg;
  @media (max-width: 1200px) {
    left: $positionLeftDs;
  }

  @media (max-width: 1000px) {
    left: $positionLeftSm;
  }

  @media (max-width: 500px) {
    left: $positionLeftEm;
  }
}

.bottom {
  bottom: $positionBottom;
  @media (max-width: 500px) {
    bottom: $positionBottomEm;
  }
}

.top {
  left: $positionStart;
}

.right {
  bottom: $positionStart;
}
